@model IEnumerable<AllCategoriesViewModel>
@{
    ViewData["Title"] = "Browse categories";
}


    <h1>All Categories</h1>
    <br />
    <center>
        <div class="row">
            @Html.DisplayForModel()
        </div>
    </center>
